*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.home {
  margin-left: 50px;
  
   max-width:90vw;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
  .home img {
    max-width: 100%;
    height: auto;
  }
  .home .App {
    min-height: 100vh;
    width: 90vw;
    max-width: 1900px;
    margin: 0rem auto;
  }
  .home body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .home body {
    background-color: #f6f6f6;
  }
  
 .home  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 90px;
    margin-top: 0px;
  }
  
  /* Hide navbar  */
  .home .nav-menu-container {
    display: none;
  }
  
  .home .nav-links-container a {
    margin-right: 3rem;
  
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .home .logo {
    max-width: 100px;
    min-width: 80px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  
  @media (min-width: 1024px) {
    .home .nav-links-container a {
      margin-right: 1rem;
      font-size: 1.1rem;
    }
  
    .home .home-image {
      max-width: 50%;
      max-height: 50%;
    }
  }
  @media (max-width: 1023px) {
    .home .nav-logo-container {
      max-width: 140px;
    }
    .home .nav-links-container {
      display: none;
    }
    .home .nav-menu-container {
      display: flex;
    }
  
    .home .home-container {
      /* Places image on top and text in bottom */
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .home .about-section-container {
      flex-direction: column;
    }
  
    .home .about-section-image-container {
      width: 100%;
      max-width: 400px;
    }
    .home .heading {
      text-align: center;
      max-width: 90%;
    }
    .home .description {
      text-align: center;
      max-width: 80%;
    }
    .home .home-text-section {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
    .home .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
  
    .home .App {
      max-width: 95vw;
    }
  }
  
  @media (max-width: 600px) {
  }
  
  /* Home.css */
.home .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.home .home-text-section {
  max-width: 540px;
}

.heading {
  font-size: 2.5rem;
  color: #333;
}

.home .description {
  font-size: 1.3rem;
  color: #333;
  margin-top: 1rem;
}

.home .secondary-button {
  background-color: #988570; /* Replace with your button color */
  color: #fff; /* This is white, replace with your button text color if different */
  padding: 20px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 30px; /* Adjust as needed for roundness */
  font-weight: bolder;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin-top:2rem;
}

.home .secondary-button:hover {
  background-color: #685d52;
}

.home .home-image {
  max-width: 45%;
  max-height:30%;
  height: auto;
  object-fit: cover;
}
