* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.dash .container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.dash .sidebar {
  background: #a67c52;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.dash .top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.dash .logo {
  font-size: 30px;
}
.dash .bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.dash .link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.dash .link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.dash .active {
  background: white;
  color: #a67c52;
}
.dash .icon,
.link_text {
  font-size: 20px;
}
